---
import "./footer.css";
---

<section class="footer">
  <div class="upper">
    <h1>¿Listo para integrar IA en tu empresa?</h1>
    <p>
      Agenda una llamada con nuestro equipo. Analizamos tu operación,
      identificamos oportunidades y te proponemos soluciones concretas — sin
      compromiso.
    </p>
    <div>
      <button>Solicita una demo</button>
      <button>Agenda una llamada</button>
    </div>
  </div>

  <div class="bottom">
    <div>
      <div>
        <h1>Enlaces rapidos</h1>
        <div>inicio</div>
        <div>Soluciones</div>
        <div>Contacto</div>
        <div>Aviso de privacidad</div>
      </div>

      <div>
        <h1>Contacto</h1>
        <div>+52 81 8333 4535</div>
        <div>ventas@bitfarm.com.mx</div>
        <div>www.bitfarm.com.mx</div>
      </div>

      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div>
      <h1>bitfarm</h1>
      <p>© 2024 BitFarm. Todos los derechos reservados.</p>
    </div>
  </div>
</section>
